<log4net>
  <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/" />
    <datePattern value="yyyy.MM.dd'_Error.log'" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <staticLogFileName value="false" />
    <maximumFileSize value="50MB" />
    <maxSizeRollBackups value="10" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%date [%logger] - %message%newline"/>
    </layout>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
  </appender>

  <appender name="DebugFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/" />
    <datePattern value="yyyy.MM.dd'_Debug.log'" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <staticLogFileName value="false" />
    <maximumFileSize value="50MB" />
    <maxSizeRollBackups value="10" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%date [%logger] - %message%newline"/>
    </layout>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
  </appender>

  <appender name="InfoFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/" />
    <datePattern value="yyyy.MM.dd'_Info.log'" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <staticLogFileName value="false" />
    <maximumFileSize value="50MB" />
    <maxSizeRollBackups value="10" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%date [%logger] - %message%newline"/>
    </layout>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
  </appender>

  <appender name="PerformanceFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/" />
    <datePattern value="yyyy.MM.dd'_Performance.log'" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <staticLogFileName value="false" />
    <maximumFileSize value="50MB" />
    <maxSizeRollBackups value="10" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%date [%logger] - %message%newline"/>
    </layout>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
  </appender>

  <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%logger] - %message%newline" />
    </layout>
  </appender>

  <logger name="PERFORMANCE">
    <appender-ref ref="ColoredConsoleAppender"/>
    <appender-ref ref="PerformanceFileAppender"/>
  </logger>

  <logger name="INFO">
    <appender-ref ref="ColoredConsoleAppender"/>
    <appender-ref ref="InfoFileAppender"/>
  </logger>

  <logger name="DEBUG">
    <appender-ref ref="ColoredConsoleAppender"/>
    <appender-ref ref="DebugFileAppender"/>
  </logger>

  <logger name="ERROR">
    <appender-ref ref="ColoredConsoleAppender"/>
    <appender-ref ref="ErrorFileAppender"/>
  </logger>
</log4net>